body {
  max-width: 100%;
  font-size: 24px;
}

.row {
  margin-top: 40px;
  max-width: 360px;
}

/*.dates {
  margin-left: 0px;
}*/

#calendar-widget {
  margin-bottom: 50px;
  font-size: 22px;
}

#date {
  display: none;
}
